{# src/Acme/LibraryBundle/Resources/views/Book/add.html.twig #}

<h1>Books</h1>
<table class="table">
<tr>
<td class='headers'>Title</td><td class='headers'>ISBN</td><td class='headers'>Author</td><td class='headers'>Language</td>
</tr>
    {% for book in books %}
	<tr>
        <td>{{ book.title|e }}</td>
		<td>{{ book.isbn|e }}</td>
		<td>{{ book.author|e }}</td>
		<td>{{ book.language|e }}</td>
		<td>
			<div id="trash-{{ book.id }}">
				<a class="ajax-trash preventdefault" onClick="trash(this, '{{ path('book_trash', { 'id': book.id }) }}', '{{asset('images/waiting.gif')}}')" href="#">Delete</a>
			</div>
		</td>

	</tr>
	{% else %}
	 <tr>  <td><h2> There are no saved books!</h2></td></tr>
    {% endfor %}
</table>
<a href="{{path('book_add')}}">Add Books</a> |
<a href="{{path('author_add')}}">Authors</a> |
<a href="{{path('language_add')}}">Languages</a>


{% javascripts '@IdgcandidateBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@IdgcandidateBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

